@using DaMi.SO.Manager.Endpoints.OrderMasters
@inherits XComponent<OrderMasterEditModel>
@layout _Layout
@inject IStringLocalizer<ShareResource> L
@using System.Text.Json

<div class="row page-titles mx-0">
    <div class="col-sm-6 p-md-0 justify-content-sm-start mt-2 mt-sm-0 d-flex">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/OrderMaster">@L["Đơn Hàng"] </a></li>
        </ol>
    </div>
    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
        <input class="btn btn-round btn-success mx-2" type="submit" form="create-form" name="New" value="@L["Tạo mới"]">
        <a href="/OrderMaster" class="btn btn-round btn-primary mx-2"> @L["Danh sách"]</a>
    </div>
</div>
<EditForm action="/OrderMaster/New" id="create-form" method="post" Model="@Model">
    <DataAnnotationsValidator />
    <ModifyTemplate Model="@Model">
    </ModifyTemplate>
</EditForm>
<div class="row page-titles mx-0">
    <div class="col-sm-6 p-md-0 justify-content-sm-start mt-2 mt-sm-0 d-flex">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/OrderMaster">@L["Đơn Hàng"] </a></li>
        </ol>
    </div>
    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
        <input class="btn btn-round btn-success mx-2" type="submit" form="create-form" name="New" value="@L["Tạo mới"]">
        <a href="/OrderMaster" class="btn btn-round btn-primary mx-2"> @L["Danh sách"]</a>
    </div>
</div>