@using DaMi.SO.Manager.Endpoints.OrderMasters.DTO

@inherits XComponent<OrderMasterTableModel>
@layout _Layout
@inject IStringLocalizer<ShareResource> L

<div class="card">
    <div class="card-body">
        <ul class="nav nav-pills" id="pills-tab" role="tablist">
            <li class="nav-item mx-2" role="presentation">
                <button class="nav-link active" id="pills-all-tab" data-bs-toggle="pill" data-bs-target="#pills-all"
                    type="button" role="tab" aria-controls="pills-all" aria-selected="true">Tất cả đơn hàng</button>
            </li>
            <li class="nav-item mx-2" role="presentation">
                <button class="nav-link" id="pills-wait-for-approve-tab" data-bs-toggle="pill"
                    data-bs-target="#pills-wait-for-approve" type="button" role="tab"
                    aria-controls="pills-wait-for-approve" aria-selected="false">Chưa duyệt</button>
            </li>
            <li class="nav-item mx-2" role="presentation">
                <button class="nav-link " id="pills-unfinish-tab" data-bs-toggle="pill" data-bs-target="#pills-unfinish"
                    type="button" role="tab" aria-controls="pills-unfinish" aria-selected="false">Chưa hoàn
                    thành</button>
            </li>
            <li class="nav-item mx-2" role="presentation">
                <button class="nav-link " id="pills-finish-tab" data-bs-toggle="pill" data-bs-target="#pills-finish"
                    type="button" role="tab" aria-controls="pills-finish" aria-selected="false">Đã hoàn thành</button>
            </li>
            <li class="nav-item mx-2" role="presentation">
                <button class="nav-link" id="pills-cancel-tab" data-bs-toggle="pill" data-bs-target="#pills-cancel"
                    type="button" role="tab" aria-controls="pills-cancel" aria-selected="false">Đơn bị hủy</button>
            </li>
        </ul>
    </div>
</div>
<div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-all" role="tabpanel" aria-labelledby="pills-all-tab">
        <TabContent Model="Model.OrderMasters"></TabContent>
    </div>
    <div class="tab-pane fade" id="pills-wait-for-approve" role="tabpanel" aria-labelledby="pills-wait-for-approve-tab">
        <TabContent Model="Model.OrderMasters.Where(o => o.OrderStatus.IsAcceptStatus)"></TabContent>
    </div>
    <div class="tab-pane fade" id="pills-unfinish" role="tabpanel" aria-labelledby="pills-unfinish-tab">
        <TabContent Model='Model.OrderMasters
            .Where(o => o.OrderStatus.OrderStatusId != "OS99"
                && o.OrderStatus.IsCancelStatus
                && o.OrderStatus.IsSuspendStatus)'>
        </TabContent>
    </div>
    <div class="tab-pane fade" id="pills-finish" role="tabpanel" aria-labelledby="pills-finish-tab">
        <TabContent Model='Model.OrderMasters.Where(o => o.OrderStatus.OrderStatusId == "OS99")'></TabContent>
    </div>
    <div class="tab-pane fade" id="pills-cancel" role="tabpanel" aria-labelledby="pills-cancel-tab">
        <TabContent Model="Model.OrderMasters.Where(o => o.OrderStatus.IsCancelStatus)"></TabContent>
    </div>
</div>
<script>
    var triggerTabList = [].slice.call(document.querySelectorAll('#pills-tab a'))
    triggerTabList.forEach(function (triggerEl) {
        var tabTrigger = new bootstrap.Tab(triggerEl)
        triggerEl.addEventListener('click', function (event) {
            event.preventDefault()
            tabTrigger.show()
        })
    })
</script>
@* <Tabs EnableFadeEffect="true" NavStyle="NavStyle.Underline">
<Tab Title="@L["Tất cả đơn hàng"]" IsActive="true">
<Content>
<TabContent Model="Model.OrderMasters"></TabContent>
</Content>
</Tab>
<Tab Title="@L["Chưa duyệt"]">
<Content>
<TabContent Model="Model.OrderMasters.Where(o => o.OrderStatus.IsAcceptStatus)"></TabContent>
</Content>
</Tab>
<Tab Title="@L["Chưa hoàn thành"]">
<Content>
<TabContent Model='Model.OrderMasters
.Where(o => o.OrderStatus.OrderStatusId != "OS99"
&& o.OrderStatus.IsCancelStatus
&& o.OrderStatus.IsSuspendStatus)'>
</TabContent>
</Content>
</Tab>
<Tab Title="@L["Đã hoàn thành"]">
<Content>
<TabContent Model='Model.OrderMasters.Where(o => o.OrderStatus.OrderStatusId == "OS99")'></TabContent>
</Content>
</Tab>
<Tab Title="@L["Đơn bị hủy"]">
<Content>
<TabContent Model="Model.OrderMasters.Where(o => o.OrderStatus.IsCancelStatus)"></TabContent>
</Content>
</Tab>
</Tabs> *@
