@using BlazorBootstrap
@using DaMi.SO.Manager.Endpoints.OrderDetails.Pages
@using System.Globalization
@inherits XComponent<OrderMasterEditModel>
@inject IStringLocalizer<ShareResource> L

<div class="row">
    <div class="col-12 col-xl-6">
        <div class="card">
            <h4 class="card-header text-bold">@L["Thông tin đơn hàng"]</h4>
            <div class="card-body">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="OrderFormId" >@L["Kiểu đơn hàng"]</label>
                        <div >
                            @if (Model.ViewMode == ViewMode.Detail)
                            {
                                <div class="form-control"  id="OrderFormId">
                                    @Model.OrderForms.FirstOrDefault(f =>
                                            f.OrderFormId == Model.OrderMaster.OrderFormId)?.OrderFormName
                                </div>
                            }
                            else
                            {
                                <select name="OrderFormId" class="form-control selectpicker" id="OrderFormId"
                                    value="@Model.OrderMaster.OrderFormId" disabled='@(Model.ViewMode != ViewMode.Create)'>
                                    @foreach (var orderFrom in Model.OrderForms)
                                    {
                                        <option value="@orderFrom.OrderFormId">@orderFrom.OrderFormName</option>
                                    }
                                </select>
                            }
                        </div>
                        <ErrorMember Errors="@Model.Errors" MemberName="@nameof(Model.OrderMaster.OrderFormId)" />
                    </div>
                    <div class="form-group col-md-6">
                        <label for="OrderTypeId" >@L["Loại đơn hàng"]</label>
                        <div >
                            @if (Model.ViewMode == ViewMode.Detail)
                            {
                                <div class="form-control"  id="OrderTypeId">
                                    @(Model.OrderTypes.FirstOrDefault(f => f.OrderTypeId ==
                                        Model.OrderMaster.OrderTypeId)?.OrderTypeName)
                                </div>
                            }
                            else
                            {
                                <select name="OrderTypeId" class="form-control selectpicker" id="OrderTypeId"
                                    value="@Model.OrderMaster.OrderTypeId">
                                    @foreach (var orderType in Model.OrderTypes)
                                    {
                                        <option value="@orderType.OrderTypeId"
                                            selected="@(Model.OrderMaster.OrderTypeId==orderType.OrderTypeId)">
                                            @orderType.OrderTypeName
                                        </option>
                                    }
                                </select>
                            }
                            <ErrorMember Errors="@Model.Errors" MemberName="@nameof(Model.OrderMaster.OrderTypeId)" />
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="OrderNo" >@L["Số đơn hàng"]</label>
                        <div >
                            @if (Model.ViewMode == ViewMode.Detail)
                            {
                                <div class="form-control"  id="OrderNo">
                                    @Model.OrderMaster.OrderNo
                                </div>
                            }
                            else
                            {
                                <InputText id="OrderNo" name="OrderNo" class="form-control" disabled
                                    @bind-Value=Model.OrderMaster.OrderNo />
                            }
                        </div>
                        <ErrorMember Errors="@Model.Errors" MemberName="@nameof(Model.OrderMaster.OrderNo)" />
                    </div>
                    <div class="form-group col-md-6">
                        <label for="OrderDate" >@L["Ngày tạo"]</label>
                        <div >
                            @if (Model.ViewMode == ViewMode.Detail)
                            {
                                <div class="form-control"  id="OrderDate">
                                    @(Model.OrderMaster.OrderDate is not null ?
                                        Model.OrderMaster.OrderDate.Value.ToString(CultureInfo.CurrentCulture) : "")
                                </div>
                            }
                            else
                            {
                                <DateInput TValue="DateTime?" @bind-Value="@Model.OrderMaster.OrderDate"
                                    Placeholder="Enter Date" name="OrderDate" id="OrderDate" />
                            }
                        </div>
                        <ErrorMember Errors="@Model.Errors" MemberName="@nameof(Model.OrderMaster.OrderDate)" />
                    </div>
                    <div class="form-group col-md-6">
                        <label for="OrderStatusId" >@L["Trạng thái ĐH"]</label>
                        <div >
                            @if (Model.ViewMode == ViewMode.Detail)
                            {
                                <div class="form-control" id="OrderStatusId">
                                    @(Model.OrderStatuses.FirstOrDefault(f => f.OrderStatusId ==
                                        Model.OrderMaster.OrderStatusId)?.OrderStatusName)
                                </div>
                            }
                            else
                            {
                                <select name="OrderStatusId" class="form-control selectpicker" disabled id="OrderStatusId"
                                    value="@Model.OrderMaster.OrderStatusId">
                                    @foreach (var orderStatus in Model.OrderStatuses)
                                    {
                                        <option value="@orderStatus.OrderStatusId"
                                            selected="@(Model.OrderMaster.OrderStatusId == orderStatus.OrderStatusId)">
                                            @orderStatus.OrderStatusName
                                        </option>
                                    }
                                </select>
                            }
                            <ErrorMember Errors="@Model.Errors" MemberName="@nameof(Model.OrderMaster.OrderStatusId)" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-xl-6">
        <div class="card">
            <h4 class="card-header text-bold">@L["Thông tin khác"]</h4>
            <div class="card-body">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="ExecutorId" >@L["Nhân viên triển khai"]</label>
                        <div >
                            @if (Model.ViewMode == ViewMode.Detail)
                            {
                                <div class="form-control" id="ExecutorId">
                                    @(Model.Employees.FirstOrDefault(employee => Model.OrderMaster.ExecutorId ==
                                        employee.EmployeeId)?.EmployeeName)
                                </div>
                            }
                            else
                            {
                                <select class="form-control selectpicker" id="ExecutorId" name="ExecutorId"
                                    @bind="Model.OrderMaster.ExecutorId">
                                    @foreach (var employee in Model.Employees.Where(e => e.Department.IsInstall))
                                    {
                                        <option value="@employee.EmployeeId"
                                            selected="@(Model.OrderMaster.ExecutorId == employee.EmployeeId)">
                                            @employee.EmployeeName
                                        </option>
                                    }
                                </select>
                            }
                        </div>
                        <ErrorMember Errors="@Model.Errors" MemberName="@nameof(Model.OrderMaster.ExecutorId)" />
                    </div>
                    <div class="form-group col-md-6">
                        <label for="SalesManId" >@L["Nhân viên bán hàng"]</label>
                        <div >
                            @if (Model.ViewMode == ViewMode.Detail)
                            {
                                <div class="form-control" id="SalesManId">
                                    @(Model.Employees.FirstOrDefault(employee => Model.OrderMaster.SalesManId ==
                                        employee.EmployeeId)?.EmployeeName)
                                </div>
                            }
                            else
                            {
                                <input type="hidden" name="SalesManId" class="form-control" readonly id="SalesManId" value="@Model.OrderMaster.SalesManId"/>
                                <input class="form-control" readonly value="@(Model.Employees.FirstOrDefault(employee => Model.OrderMaster.SalesManId ==
                                        employee.EmployeeId)?.EmployeeName)"/>
                            }
                        </div>
                        <ErrorMember Errors="@Model.Errors" MemberName="@nameof(Model.OrderMaster.SalesManId)" />
                    </div>
                    <div class="form-group col-md-6">
                        <label for="BeginExecDate" >@L["Ngày BĐ triển khai"]</label>
                        <div >
                            @if (Model.ViewMode == ViewMode.Detail)
                            {
                                <div class="form-control" id="BeginExecDate">
                                    @(Model.OrderMaster.BeginExecDate is not null ?
                                        Model.OrderMaster.BeginExecDate.Value.ToString(CultureInfo.CurrentCulture) : "")
                                </div>
                            }
                            else
                            {
                                <DateInput TValue="DateTime?" @bind-Value="@Model.OrderMaster.BeginExecDate"
                                    Placeholder="Ngày BĐ triển khai" name="BeginExecDate" id="BeginExecDate" />
                            }
                        </div>
                        <ErrorMember Errors="@Model.Errors" MemberName="@nameof(Model.OrderMaster.BeginExecDate)" />
                    </div>
                    <div class="form-group col-md-6">
                        <label for="BeginExecDate" >@L["Ngày KT triển khai"]</label>
                        <div >
                            @if (Model.ViewMode == ViewMode.Detail)
                            {
                                <div class="form-control" id="EndExecDate">
                                    @(Model.OrderMaster.EndExecDate is not null ?
                                        Model.OrderMaster.EndExecDate.Value.ToString(CultureInfo.CurrentCulture) : "")
                                </div>
                            }
                            else
                            {
                                <DateInput TValue="DateTime?" @bind-Value="@Model.OrderMaster.EndExecDate"
                                    Placeholder="Ngày KT triển khai" name="EndExecDate" id="EndExecDate" />
                            }
                        </div>
                        <ErrorMember Errors="@Model.Errors" MemberName="@nameof(Model.OrderMaster.EndExecDate)" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 col-xl-6">
        <div class="card">
            <h4 class="card-header">@L["Thông tin hợp đồng"]</h4>
            <div class="card-body">
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="CustomerIdSelect" >
                            @L["Tên KH"]
                        </label>
                        <div >
                            @if (Model.ViewMode == ViewMode.Detail)
                            {
                                <div class="form-control" id="CustomerId">
                                    @(Model.Customers.FirstOrDefault(customer => Model.OrderMaster.CustomerId ==
                                        customer.CustomerId)?.CustomerName)
                                </div>
                            }
                            else
                            {
                                <InputText type="hidden" id="CustomerId" name="CustomerId"
                                    @bind-Value="Model.OrderMaster.CustomerId" />
                                <select class="form-control selectpicker"  hx-indicator=".htmx-indicator"
                                    hx-get="/OrderMaster/Edit/Customer" id="CustomerIdSelect" name="CustomerIdSelect"
                                    value="@Model.OrderMaster.CustomerId">
                                    <option></option>
                                    @foreach (var customer in Model.Customers)
                                    {
                                        <option value="@customer.CustomerId">@customer.CustomerName</option>
                                    }
                                </select>
                                <ErrorMember Errors="@Model.Errors" MemberName="@nameof(Model.OrderMaster.CustomerId)" />
                                <script>
                                    var select = new SlimSelect({
                                        select: '#CustomerIdSelect',
                                        events: {
                                            afterChange: (newVal) => {
                                                console.log(newVal);
                                                $("#CustomerId").val(newVal[0]?.value ?? "");
                                            }
                                        }
                                    });
                                </script>
                            }
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="CustomerTax" >
                            @L["MST/CCCD"]
                        </label>
                        <div >
                            @if (Model.ViewMode == ViewMode.Detail)
                            {
                                <div class="form-control" id="CustomerPhone">
                                    @(Model.OrderMaster.TaxCode)
                                </div>
                            }
                            else
                            {
                            <input type="text" id="CustomerTax" name="TaxCode" readonly class="form-control"
                                value="@Model.OrderMaster.TaxCode" />
                            }
                        </div>
                        <ErrorMember Errors="@Model.Errors" MemberName="@nameof(Model.OrderMaster.TaxCode)" />
                    </div>
                    <div class="form-group col-md-6">
                        <label for="CustomerPhone" >
                            @L["Điện thoại"]
                        </label>
                        <div >
                            @if (Model.ViewMode == ViewMode.Detail)
                            {
                                <div class="form-control" id="CustomerPhone">
                                    @(Model.OrderMaster.Phone)
                                </div>
                            }
                            else
                            {
                                <InputText id="CustomerPhone" class="form-control" name="Phone" 
                                    @bind-Value=Model.OrderMaster.Phone />
                            }
                        </div>
                        <ErrorMember Errors="@Model.Errors" MemberName="@nameof(Model.OrderMaster.Phone)" />
                    </div>
                    <div class="form-group col-md-6">
                        <label for="RefPerson" >
                            @L["Người đại điện"]
                        </label>
                        <div >
                            @if (Model.ViewMode == ViewMode.Detail)
                            {
                                <div class="form-control" id="RefPerson">
                                    @(Model.OrderMaster.RefPerson)
                                </div>
                            }
                            else
                            {
                                <InputText id="RefPerson" name="RefPerson" class="form-control"
                                    @bind-Value=Model.OrderMaster.RefPerson />
                            }
                        </div>
                        <ErrorMember Errors="@Model.Errors" MemberName="@nameof(Model.OrderMaster.RefPerson)" />
                    </div>
                    <div class="form-group col-md-6">
                        <label for="RefPos" >
                            @L["Chức vụ"]
                        </label>
                        <div >
                            @if (Model.ViewMode == ViewMode.Detail)
                            {
                                <div class="form-control" id="RefPos">
                                    @(Model.OrderMaster.RefPos)
                                </div>
                            }
                            else
                            {
                                <InputText id="RefPos" name="RefPos" class="form-control"
                                    @bind-Value=Model.OrderMaster.RefPos />
                            }
                        </div>
                        <ErrorMember Errors="@Model.Errors" MemberName="@nameof(Model.OrderMaster.RefPos)" />
                    </div>
                    <div class="form-group col-md-6">
                        <label for="ContractNo" >
                            @L["Số hợp đồng"]
                        </label>
                        <div >
                            @if (Model.ViewMode == ViewMode.Detail)
                            {
                                <div class="form-control" id="ContractNo">
                                    @(Model.OrderMaster.ContractNo)
                                </div>
                            }
                            else
                            {
                                <InputText id="ContractNo" name="ContractNo" class="form-control"
                                    @bind-Value=Model.OrderMaster.ContractNo />
                            }
                        </div>
                        <ErrorMember Errors="@Model.Errors" MemberName="@nameof(Model.OrderMaster.ContractNo)" />
                    </div>
                    <div class="form-group col-md-6">
                        <label for="ContractDate" >
                            @L["Ngày hợp đồng"]
                        </label>
                        <div >
                            @if (Model.ViewMode == ViewMode.Detail)
                            {
                                <div class="form-control" id="ContractDate">
                                    @(Model.OrderMaster.ContractDate is not null ?
                                        Model.OrderMaster.ContractDate.Value.ToString(CultureInfo.CurrentCulture) : "")
                                </div>
                            }
                            else
                            {
                                <DateInput TValue="DateOnly?" @bind-Value="@Model.OrderMaster.ContractDate"
                                    Placeholder="Ngày hợp đồng" name="ContractDate" id="ContractDate" />
                            }
                        </div>
                        <ErrorMember Errors="@Model.Errors" MemberName="@nameof(Model.OrderMaster.ContractDate)" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-xl-6">
        <div class="card">
            <h4 class="card-header text-bold"> @L["Thông tin thanh toán"]</h4>
            <div class="card-body">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="CurrencyId" > @L["Loại tiền"]</label>
                        <div >
                            @if (Model.ViewMode == ViewMode.Detail)
                            {
                                <div class="form-control" id="CurrencyId">
                                    @(Model.Currencies.FirstOrDefault(currency => Model.OrderMaster.CurrencyId ==
                                        currency.CurrencyId)?.CurrencyName)
                                </div>
                            }
                            else
                            {
                                <select class="form-control selectpicker" id="CurrencyId" name="CurrencyId"
                                    value="@Model.OrderMaster.CurrencyId">
                                    @foreach (var currency in Model.Currencies)
                                    {
                                        <option value="@currency.CurrencyId"
                                            selected="@(Model.OrderMaster.CurrencyId == currency.CurrencyId)">
                                            @currency.CurrencyName
                                        </option>
                                    }
                                </select>
                            }
                            <ErrorMember Errors="@Model.Errors" MemberName="@nameof(Model.OrderMaster.CurrencyId)" />
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="ExchangeRate" > @L["Tỉ giá"]</label>
                        <div >
                            @if (Model.ViewMode == ViewMode.Detail)
                            {
                                <div class="form-control" id="ExchangeRate">
                                    @Convert.ToInt16(Model.OrderMaster.ExchangeRate)
                                </div>
                            }
                            else
                            {
                                <input type="text" value="@Convert.ToInt16(Model.OrderMaster.ExchangeRate)"
                                    class="form-control" id="ExchangeRate" name="ExchangeRate" placeholder="Tỉ giá" />
                            }
                        </div>
                        <ErrorMember Errors="@Model.Errors" MemberName="@nameof(Model.OrderMaster.ExchangeRate)" />
                    </div>
                    <div class="form-group col-md-6">
                        <label for="OriginalTotalAmount" > @L["Cộng thành tiền"]</label>
                        <div >
                            @if (Model.ViewMode == ViewMode.Detail)
                            {
                                <div class="form-control currency" id='TotalAmount'>
                                    @(Model.OrderMaster.TotalAmount is not null ?
                                        Model.OrderMaster.TotalAmount.Value.ToString("N0", CultureInfo.CurrentCulture) : "")
                                </div>
                            }
                            else
                            {
                                <input type="text"
                                    value="@(Model.OrderMaster.TotalAmount is not null ? Model.OrderMaster.TotalAmount.Value.ToString("N0", CultureInfo.CurrentCulture) : "")"
                                    class="form-control currency" readonly id='TotalAmount'
                                    name="@nameof(Model.OrderMaster.TotalAmount)" placeholder="Cộng thành tiền" />
                            }

                        </div>
                        <ErrorMember Errors="@Model.Errors" MemberName="@nameof(Model.OrderMaster.TotalAmount)" />
                    </div>
                    <div class="form-group col-md-6">
                        <label for="ConvertTaxAmount" > @L["Cộng tiền thuế VAT"]</label>
                        <div >
                            @if (Model.ViewMode == ViewMode.Detail)
                            {
                                <div class="form-control currency" id='@nameof(Model.OrderMaster.ConvertTaxAmount)'>
                                    @(Model.OrderMaster.ConvertTaxAmount is not null ?
                                        Model.OrderMaster.ConvertTaxAmount.Value.ToString("N0", CultureInfo.CurrentCulture) : "")
                                </div>
                            }
                            else
                            {
                                <input type="text"
                                    value="@(Model.OrderMaster.ConvertTaxAmount is not null ? Model.OrderMaster.ConvertTaxAmount.Value.ToString("N0", CultureInfo.CurrentCulture) : "")"
                                    class="form-control currency" readonly
                                    name="@nameof(Model.OrderMaster.ConvertTaxAmount)"
                                    id='@nameof(Model.OrderMaster.ConvertTaxAmount)' placeholder="Cộng tiền thuế VAT" />
                            }
                        </div>
                        <ErrorMember Errors="@Model.Errors" MemberName="@nameof(Model.OrderMaster.ConvertTaxAmount)" />
                    </div>
                    <div class="form-group col-md-6">
                        <label for="ConvertDiscAmount" > @L["Cộng tiền CK"]</label>
                        <div >
                            @if (Model.ViewMode == ViewMode.Detail)
                            {
                                <div class="form-control currency" id='ConvertDiscAmount'>
                                    @(Model.OrderMaster.ConvertDiscAmount is not null ?
                                        Model.OrderMaster.ConvertDiscAmount.Value.ToString("N0", CultureInfo.CurrentCulture) :
                                        "")
                                </div>
                            }
                            else
                            {

                                <input type="text"
                                    value="@(Model.OrderMaster.ConvertDiscAmount is not null ? Model.OrderMaster.ConvertDiscAmount.Value.ToString("N0", CultureInfo.CurrentCulture) : "")"
                                    class="form-control currency" readonly
                                    name="@nameof(Model.OrderMaster.ConvertDiscAmount)" id='ConvertDiscAmount'
                                    placeholder="Cộng tiền CK" />
                            }
                        </div>
                        <ErrorMember Errors="@Model.Errors" MemberName="@nameof(Model.OrderMaster.ConvertDiscAmount)" />
                    </div>
                    <div class="form-group col-md-6">
                        <label for="TotalAmount" > @L["Tổng tiền thanh toán"]</label>
                        <div >
                            @if (Model.ViewMode == ViewMode.Detail)
                            {
                                <div class="form-control currency"  id='@nameof(Model.OrderMaster.ConvertTotalAmount)'>
                                    @(Model.OrderMaster.ConvertTotalAmount is not null ?
                                        Model.OrderMaster.ConvertTotalAmount.Value.ToString("N0", CultureInfo.CurrentCulture) :
                                        "")
                                </div>
                            }
                            else
                            {
                                <input type="text"
                                    value="@(Model.OrderMaster.ConvertTotalAmount is not null ? Model.OrderMaster.ConvertTotalAmount.Value.ToString("N0", CultureInfo.CurrentCulture) : "")"
                                    id='@nameof(Model.OrderMaster.ConvertTotalAmount)' class="form-control currency"
                                    readonly name="@nameof(Model.OrderMaster.ConvertTotalAmount)"
                                    placeholder="Tổng tiền thanh toán" />
                            }
                        </div>
                        <ErrorMember Errors="@Model.Errors"
                            MemberName="@nameof(Model.OrderMaster.ConvertTotalAmount)" />
                    </div>
                    <div class="form-group col-md-6">
                        <label for="OverDate" > @L["Hạn thanh toán"]</label>
                        <div >
                            @if (Model.ViewMode == ViewMode.Detail)
                            {
                                <div class="form-control" id="OverDate">
                                    @(Model.OrderMaster.OverDate is not null ?
                                        Model.OrderMaster.OverDate.Value.ToString(CultureInfo.CurrentCulture) : "")
                                </div>
                            }
                            else
                            {
                                <DateInput TValue="DateOnly?" @bind-Value="@Model.OrderMaster.OverDate"
                                    Placeholder="Hạn thanh toán" name="OverDate" id="OverDate" />
                            }
                        </div>
                        <ErrorMember Errors="@Model.Errors" MemberName="@nameof(Model.OrderMaster.OverDate)" />
                    </div>
                    <div class="form-group col-md-6">
                        <label for="PublishedInvoice" > @L["Có xuất hóa đơn"]</label>
                        <div >
                            @if (Model.ViewMode == ViewMode.Detail)
                            {
                                <input type="checkbox" id="HasInvoiceVat" value="true" name="HasInvoiceVat" onclick="return false;"
                                    readonly='@(Model.ViewMode == ViewMode.Detail)' class="form-control form-control-sm "
                                    checked='@Model.OrderMaster.HasInvoiceVat'>
                            }
                            else
                            {
                                <input type="checkbox" id="HasInvoiceVat" value="true" name="HasInvoiceVat"
                                    readonly='@(Model.ViewMode == ViewMode.Detail)' class="form-control form-control-sm"
                                    checked='@Model.OrderMaster.HasInvoiceVat'>
                            }
                            
                        </div>
                        <ErrorMember Errors="@Model.Errors" MemberName="@nameof(Model.OrderMaster.HasInvoiceVat)" />
                    </div>
                    <div class="form-group col-md-6">
                        <label for="PaymentMethodId" > @L["Hình thức thanh toán"]</label>
                        <div >
                            @if (Model.ViewMode == ViewMode.Detail)
                            {
                                <div class="form-control" id="PaymentMethodId">
                                    @(Model.PaymentMethods.FirstOrDefault(paymentMethod => Model.OrderMaster.PaymentMethodId ==
                                    paymentMethod.PaymentMethodId)?.PaymentMethodName)
                                </div>
                            }
                            else
                            {
                                <select class="form-control selectpicker" id="PaymentMethodId" name="PaymentMethodId"
                                    value="@Model.OrderMaster.PaymentMethodId">
                                    @foreach (var paymentMethod in Model.PaymentMethods)
                                    {
                                        <option value="@paymentMethod.PaymentMethodId"
                                            selected="@(Model.OrderMaster.PaymentMethodId == paymentMethod.PaymentMethodId)">
                                            @paymentMethod.PaymentMethodName
                                        </option>
                                    }
                                </select>
                            }
                        </div>
                        <ErrorMember Errors="@Model.Errors" MemberName="@nameof(Model.OrderMaster.PaymentMethodId)" />
                    </div>
                    <div class="form-group col-md-6">
                        <label for="PaymentTerms" > @L["Điều khoản thanh toán"]</label>
                        <div >
                            @if (Model.ViewMode == ViewMode.Detail)
                            {
                                <div class="form-control" id="PaymentTerms">
                                    @(Model.OrderMaster.PaymentTerms)
                                </div>
                            }
                            else
                            {
                                <InputText type="text" id="PaymentTerms" name="PaymentTerms" class="form-control"
                                    @bind-Value=Model.OrderMaster.PaymentTerms />
                            }
                        </div>
                        <ErrorMember Errors="@Model.Errors" MemberName="@nameof(Model.OrderMaster.PaymentTerms)" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <div class="card">
            <h4 class="card-header">@L["Diễn giải"]</h4>
            <div class="card-body">
                <div class="form-group">
                    <textarea type="text" class="form-control" id="Description" name="Description"
                        readonly='@(Model.ViewMode == ViewMode.Detail)'
                        rows="6">@Model.OrderMaster.Description</textarea>
                    <ErrorMember Errors="@Model.Errors" MemberName="@nameof(Model.OrderMaster.Description)" />
                </div>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <h4 class="card-header ">@L["Ghi chú"]</h4>
            <div class="card-body">
                <div class="form-group">
                    <textarea type="text" class="form-control" id="Notes" name="Notes"
                        readonly='@(Model.ViewMode == ViewMode.Detail)' rows="6">@Model.OrderMaster.Notes</textarea>
                    <ErrorMember Errors="@Model.Errors" MemberName="@nameof(Model.OrderMaster.Notes)" />
                </div>
            </div>
        </div>
    </div>
</div>

<div id="empty"></div>

@if (Model.ErrorMessage is not null)
{
    <script>
        toastr.error('@Model.ErrorMessage')
    </script>
}