@using System.Security.Claims
@using CrudApiTemplate.Repository
@using DaMi.SO.Manager.Data.Models
@using Microsoft.EntityFrameworkCore
@inject IUnitOfWork work
@inject IHttpContextAccessor context
@inherits LayoutComponentBase
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>DaMi - Sale Order Manager </title>
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon.png">
    <link href="/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/toastr.css" />
    <link rel="stylesheet" href="/css/app.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/slim-select/2.8.2/slimselect.min.css" rel="stylesheet">
    <link href="/icons/material-design-iconic-font/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/css/datatables.css">
    <script src="/vendor/jquery/jquery.min.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slim-select/2.8.2/slimselect.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/imask/7.6.0/imask.min.js"></script>

    <script src="/js/datatables.js"></script>
    <script src="/js/toastr.js"></script>
    <script src="/js/start.js"></script>

</head>

<body hx-history="false" hx-push-url="false">
    <div id="preloader">
        <div class="sk-three-bounce">
            <div class="sk-child sk-bounce1"></div>
            <div class="sk-child sk-bounce2"></div>
            <div class="sk-child sk-bounce3"></div>
        </div>
    </div>
    <div id="main-wrapper">
        <div class="nav-header">
            <a href="/index" class="brand-logo">
                <p class="brand-title">DaMi</p>
            </a>

            <div class="nav-control">
                <div class="hamburger">
                    <span class="line"></span><span class="line"></span><span class="line"></span>
                </div>
            </div>
        </div>
        <div class="header">
            <div class="header-content">
                <nav class="navbar navbar-expand">
                    <div class="collapse navbar-collapse justify-content-between">
                        <div class="header-left">
                            <div class="search_bar dropdown">
                                <span class="search_icon p-3 c-pointer" data-toggle="dropdown">
                                    <i class="mdi mdi-magnify"></i>
                                </span>
                                <div class="dropdown-menu p-0 m-0">
                                    <form>
                                        <input class="form-control" type="search" placeholder="Tìm Kiếm"
                                            aria-label="Search">
                                    </form>
                                </div>
                            </div>
                        </div>
                        <ul class="navbar-nav header-right">
                            <li class="nav-item dropdown notification_dropdown">
                                <a class="nav-link" href="#" id='notification-a' role="button" data-toggle="dropdown">
                                    <i class="mdi mdi-bell"></i>
                                    @if (UnReadNotifications.Any())
                                    {
                                        <div class="pulse-css"></div>
                                        <script>
                                            var titleChange = setInterval(function () {
                                                var title = document.title;
                                                document.title = (title == "DaMi" ? "Có thông báo" : "DaMi");
                                            }, 3000);
                                            $('#notification-a').click(() => {
                                                clearInterval(titleChange);
                                                document.title = "DaMi";
                                                $('.pulse-css').remove()
                                            })
                                        </script>
                                    }
                                </a>
                                <div class="dropdown-menu dropdown-menu-right overflow-auto"
                                    style="min-height: 200px; max-height: 750px;">
                                    <ul class="list-unstyled" id='notifications'>
                                        @foreach (var notification in UnReadNotifications)
                                        {
                                            <li class="media dropdown-item active row">
                                                <div class="media-body col">
                                                    <a href="@($"/notification/{notification.RowUniqueId}")"
                                                        style="text-decoration: none">
                                                        <div class="text-@notification.MessageType ">
                                                            @notification.Message
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="w-100"></div>
                                                <div class="col px-4 justify-content-end">
                                                    <span class="notify-time row px-2">
                                                        @notification.CreatedDate.ToString()</span>
                                                </div>

                                            </li>
                                        }
                                        @foreach (var notification in ReadNotifications)
                                        {
                                            <li class="media dropdown-item row">
                                                <div class="media-body col">
                                                    <a href="@notification.RedirectLink" style="text-decoration: none">
                                                        <div class="text-@notification.MessageType">
                                                            @notification.Message
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="w-100"></div>
                                                <div class="col px-4 justify-content-end">
                                                    <span class="notify-time row px-2">
                                                        @notification.CreatedDate.ToString()</span>
                                                </div>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </li>
                            <div class="d-flex justify-content-center">
                                <div class="align-self-center text-primary">
                                    @(context.HttpContext?.User?.Claims.FirstOrDefault(c => c.Type ==
                                        ClaimTypes.Name)?.Value ?? "")
                                </div>
                            </div>
                            <li class="nav-item dropdown header-profile">
                                <a class="nav-link" href="#" role="button" data-toggle="dropdown">
                                    <i class="mdi mdi-account"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a href="/Login/Logout" class="dropdown-item">
                                        <i class="icon-key"></i>
                                        <span class="ml-2 text-danger">Đăng xuất</span>
                                    </a>
                                    <a href="/Login/Reset" class="dropdown-item">
                                        <i class="icon-envelope-open"></i>
                                        <span class="ml-2">Đổi mật khẩu</span>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>

        <div class="quixnav">
            <div class="quixnav-scroll">
                <ul class="metismenu" id="menu">
                    <li><a class="has-arrow" href="javascript:void()" aria-expanded="false"><i
                                class="icon icon-app-store"></i><span class="nav-text">Tổng quan</span></a>
                    </li>
                    <li><a class="has-arrow" href="javascript:void()" aria-expanded="false"><i
                                class="mdi mdi-sale"></i><span class="nav-text">Đơn hàng</span></a>
                        <ul aria-expanded="false">
                            <li>
                                <a href="/OrderMaster">
                                    <i class="mdi mdi-invoice-edit"></i>
                                    <span class="nav-text">Danh sách đơn hàng</span>
                                </a>
                            </li>
                            <li>
                                <a href="/OrderMaster/New">
                                    <i class="mdi mdi-invoice-edit"></i>
                                    <span class="nav-text">Lập đơn hàng mới</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="/Item/index">
                            <i class="mdi mdi-cube"></i><span class="nav-text">Sản phẩm</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void()">
                            <i class="mdi mdi-shield"></i><span class="nav-text">Bản quyền</span>
                        </a>
                    </li>
                    <li>
                        <a href="/Report/AccountRecievable">
                            <i class="mdi mdi-cash-100"></i><span class="nav-text">Công nợ</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void()">
                            <i class="mdi mdi-chart-bar"></i><span class="nav-text">Báo cáo</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content-body">
            <div class="container-fluid">
                @Body
            </div>
        </div>
        <div class="footer">
            <div class="copyright">
            </div>
        </div>
    </div>

    <script src="/vendor/global/global.min.js"></script>
    <script src="/js/quixnav-init.js"></script>
    <script src="/js/custom.min.js"></script>
    <script src="/js/htmx.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/signalr/dist/browser/signalr.js"></script>
    <script src="/js/notification.js"></script>
</body>

</html>

@code {
    private IList<Notification> UnReadNotifications { get; set; } = [];
    private IList<Notification> ReadNotifications { get; set; } = [];
    override protected async Task OnInitializedAsync()
    {
        var employeeId = context.HttpContext?.User?.Claims.FirstOrDefault(c => c.Type == ClaimTypes.NameIdentifier)?.Value ??
        "";
        UnReadNotifications = await work.Get<Notification>()
        .Find(f => f.TargetEmployeeId == employeeId && f.HasSeen == false).OrderByDescending(f => f.CreatedDate).ToListAsync();

        ReadNotifications = await work.Get<Notification>()
        .Find(f => f.TargetEmployeeId == employeeId && f.HasSeen == true)
        .OrderByDescending(f => f.CreatedDate).Take(5).ToListAsync();
        await work.CompleteAsync();
    }
}