@using System.Reflection
@using System.ComponentModel
@using Microsoft.AspNetCore.Mvc
@using System.ComponentModel.DataAnnotations
@using System.Globalization
@typeparam TItem
@inject IStringLocalizer<ShareResource> L

<table class="table table-hover table-bordered table-responsive text-black">
    <thead>
        <tr class="text-black">
            @if (NavLabel is not null)
            {
                <th style="text-transform: none;">
                    <h6>@NavLabel</h6>
                </th>
            }
            @foreach (var fieldInfo in propertyInfos)
            {
                if (Attribute.GetCustomAttribute(fieldInfo, typeof(HiddenInputAttribute)) is null)
                {
                    var displayName = (Attribute.GetCustomAttribute(fieldInfo, typeof(DisplayNameAttribute)) as
                    DisplayNameAttribute)?.DisplayName ?? fieldInfo.Name;
                    <th style="text-transform: none;">
                        <h6>@L[displayName]</h6>
                    </th>
                }
            }
            @if (ActionLabel is not null)
            {
                <th style="text-transform: none;">
                    <h6>@ActionLabel</h6>
                </th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var model in Models)
        {
            <tr class="@(RowStyleColor is not null ? RowStyleColor(model) : "" )">
                @if (NavKey is not null)
                {
                    <td>@NavKey(model)</td>
                }
                @foreach (var fieldInfo in propertyInfos)
                {
                    if (Attribute.GetCustomAttribute(fieldInfo, typeof(HiddenInputAttribute)) is null)
                    {
                        var value = fieldInfo.GetValue(model);
                        if (value is null)
                        {
                            <td></td>
                        }
                        else
                        {
                            try
                            {
                                var boolValue = (bool)value;
                                <td>
                                    <input disabled type="checkbox" class="form-control" checked='@value'>
                                </td>
                            }
                            catch (Exception)
                            {
                                var dataType = (Attribute.GetCustomAttribute(fieldInfo, typeof(DataTypeAttribute)) as DataTypeAttribute);
                                if (dataType is not null)
                                {
                                    switch (dataType.DataType)
                                    {
                                        case DataType.Currency:
                                            if (value.GetType() == typeof(decimal))
                                            {
                                                <td class="text-right">@(((decimal)value).ToString("C", CultureInfo.CurrentCulture))</td>
                                            }
                                            else if (value.GetType() == typeof(double))
                                            {
                                                <td class="text-right">@(((double)value).ToString("C", CultureInfo.CurrentCulture))</td>
                                            }
                                            break;
                                        case DataType.Date:
                                            <td class="date">
                                                @(((DateTime)value).ToString(CultureInfo.CurrentCulture))
                                            </td>
                                            break;
                                        default:
                                            <td>@value</td>
                                            break;
                                    }
                                }
                                else
                                {
                                    <td>@value</td>
                                }
                            }
                        }
                    }
                }
                @if (Action is not null)
                {
                    <td>@Action(model)</td>
                }
            </tr>
        }
    </tbody>
</table>

@code {

    [Parameter]
    public IEnumerable<TItem> Models { get; set; } = [];
    public PropertyInfo[] propertyInfos { get; init; } = typeof(TItem).GetProperties();
    [Parameter] public Func<TItem, string>? RowStyleColor { get; set; }
    [Parameter] public RenderFragment<TItem>? NavKey { get; set; }
    [Parameter] public RenderFragment? NavLabel { get; set; }
    [Parameter] public RenderFragment<TItem>? Action { get; set; }
    [Parameter] public RenderFragment? ActionLabel { get; set; }

}