@inherits XComponent<OrderMasterEditModel>
@layout _Layout
@inject IStringLocalizer<ShareResource> L
@using System.Text.Json

<div class="row page-titles mx-0">
    <div class="col-sm-6 p-md-0 justify-content-sm-start mt-2 mt-sm-0 d-flex">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/OrderMaster">@L["Đơn Hàng"] </a></li>
            <li class="breadcrumb-item"><a
                    href="/OrderMaster/Details/@Model.OrderMaster.RowUniqueId">@Model.OrderMaster.OrderNo</a></li>
        </ol>
    </div>
    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
        <input class="btn btn-round btn-warning mx-2" type="submit" form="Edit-form" name="Edit"
            value="@L["Chỉnh sửa"]">
        <a href="MasterOrder" class="btn btn-round btn-primary mx-2"> @L["Danh sách đơn hàng"]</a>
    </div>
</div>
<form action="/OrderMaster/Edit/@Model.OrderMaster.RowUniqueId" id="Edit-form" method="post">
    <ModifyTemplate Model="@Model">
    </ModifyTemplate>
</form>